.player-details {
/*    border-radius: 10px; */
    display: flex;
    justify-content: center;
    height: 100%;
}

.player-details div{
    width: 100%;
}

.player-details .heading {
    background: #D54972;
    width: 100%;
}

.player-details .group {
    margin-bottom: 30px;
}

.player-details .group label.col {
    margin-bottom: 0;
}

