:root {
  --color-1: #d54972;
  --color-2: #c14c7a;
  --color-3: #ac4e81;
  --color-4: #985189;
  --color-5: #835390;
  --color-6: none;
  --color-7: none;
  --color-8: none;
  --color-9: none;
  --color-10: none;
}

#resultats {
  flex-direction: row;
  display: flex;
  width: 100%;
  overflow-y: auto;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#resultats > div {
  transition: all 0.5s ease, margin 0.5s ease;
  flex-grow: 1;
}

#resultats > div[data-hidden="hidden"] {
  flex-grow: 0.0001;
  margin: 0;
  min-width: 0 !important;
  width: 0;
}

#sidebar-wrapper {
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.leaderboard {
  flex-grow: 1;
  position: relative;
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  margin-right: 100px;
  margin-left: 100px;
}

.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
}

.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}

.leaderboard ol {
  counter-reset: leaderboard;
  padding-left: 0;
}

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  list-style: none;
}

.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 17px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.leaderboard ol li a {
  text-decoration: none !important;
}

.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

.leaderboard ol li mark::before,
.leaderboard ol li mark::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  color: white;
  text-decoration: none !important;
}

.leaderboard ol li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

/*1*/
.leaderboard ol li:nth-child(1) {
  background: var(--color-1);
}

.leaderboard ol li:nth-child(1)::after {
  background: var(--color-1);
}

/*2*/
.leaderboard ol li:nth-child(2) {
  background: var(--color-2) /*#e0574f*/;
}

.leaderboard ol li:nth-child(2)::after {
  background: var(--color-2);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08);
}

.leaderboard ol li:nth-child(2) mark::before,
.leaderboard ol li:nth-child(2) mark::after {
  border-top: 8px solid #ba4741;
  bottom: -8px;
}

/*3*/
.leaderboard ol li:nth-child(3) {
  background: var(--color-3);
}

.leaderboard ol li:nth-child(3)::after {
  background: var(--color-3);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.11);
}

.leaderboard ol li:nth-child(3) mark::before,
.leaderboard ol li:nth-child(3) mark::after {
  border-top: 6px solid #b0433f;
  bottom: -6px;
}

/*4*/
.leaderboard ol li:nth-child(4) {
  background: var(--color-4) /*#cd4b4b*/;
}

.leaderboard ol li:nth-child(4)::after {
  background: var(--color-4) /*#cd4b4b*/;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(4) mark::before,
.leaderboard ol li:nth-child(4) mark::after {
  border-top: 4px solid #b0433f;
  bottom: -4px;
}

/*5*/
.leaderboard ol li:nth-child(5) {
  background: var(--color-5);
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(5)::after {
  background: var(--color-5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(5) mark::before,
.leaderboard ol li:nth-child(5) mark::after {
  border-top: 2px solid #b0433f;
  bottom: -2px;
}

/*6 */
.leaderboard ol li:nth-child(6) {
  background: var(--color-6);
}

.leaderboard ol li:nth-child(6)::after {
  background: var(--color-6);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(6) mark::before,
.leaderboard ol li:nth-child(6) mark::after {
  top: -2px;
  bottom: auto;
  border-top: none;
  border-bottom: 1px solid #a63d3d;
}

/*7*/
.leaderboard ol li:nth-child(7) {
  background: var(--color-7) /*#e0574f*/;
}

.leaderboard ol li:nth-child(7)::after {
  background: var(--color-7) /*#e0574f*/;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(7) mark::before,
.leaderboard ol li:nth-child(7) mark::after {
  top: -4px;
  bottom: auto;
  border-top: none;
  border-bottom: 3px solid #a63d3d;
}

/*8*/
.leaderboard ol li:nth-child(8) {
  background: var(--color-8);
}

.leaderboard ol li:nth-child(8)::after {
  background: var(--color-8);
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(8) mark::before,
.leaderboard ol li:nth-child(8) mark::after {
  top: -6px;
  bottom: auto;
  border-top: none;
  border-bottom: 5px solid #a63d3d;
}

/*9*/
.leaderboard ol li:nth-child(9) {
  background: var(--color-9);
}

.leaderboard ol li:nth-child(9)::after {
  background: var(--color-9);
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(9) mark::before,
.leaderboard ol li:nth-child(9) mark::after {
  top: -8px;
  bottom: auto;
  border-top: none;
  border-bottom: 7px solid #a63d3d;
}

/*10*/
.leaderboard ol li:nth-child(10) {
  background: var(--color-10);
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(10)::after {
  background: var(--color-10);
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(10) mark::before,
.leaderboard ol li:nth-child(10) mark::after {
  top: -10px;
  bottom: auto;
  border-top: none;
  border-bottom: 9px solid #993639;
}

.leaderboard ol li:hover,
.leaderboard ol li[selected="selected"] {
  z-index: 2;
  overflow: visible;
}

.leaderboard ol li:hover::after,
.leaderboard ol li[selected="selected"]::after {
  opacity: 1;
  width: calc(100% + 40px);

  -webkit-transform: translateX(-20px) scaleY(1.063);
  transform: translateX(-20px) scaleY(1.03);
}

.leaderboard ol li:hover mark::before,
.leaderboard ol li:hover mark::after {
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.leaderboard ol li[selected="selected"]mark::before,
.leaderboard ol li[selected="selected"] mark::after {
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.toasted-container .toasted > svg {
  margin-right: 2rem;
  margin-left: -0.4rem;
}

.toasted.bubble.default {
  font-size: 1.2em;
  overflow: hidden;
}

.toasted.bubble.default span.score {
  font-weight: bold;
}

.toasted.bubble.default::before {
  content: "";
  position: absolute;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  top: -50px;
  left: -50px;
  z-index: -1;
  background: linear-gradient(to bottom right, var(--color-1), var(--color-5))
    repeat;
  /*-webkit-transition: all 0.35s ease-in-out;*/
  /*transition: all 0.35s ease-in-out;*/
  -webkit-animation: 1s linear 0s infinite alternate move_eye;
  animation: 1s linear 0s infinite alternate move_eye;
}

/*.toasted.bubble.default::before {*/
/*    transform: translateX(50px) translateY(50px);*/
/*}*/

@-webkit-keyframes move_eye {
  from {
    top: -50px;
    left: -50px;
  }
  to {
    top: 0;
    left: 0;
  }
}
@keyframes move_eye {
  from {
    top: -50px;
    left: -50px;
  }
  to {
    top: 0;
    left: 0;
  }
}
